<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/foundation.css")
		link(rel="stylesheet", href="css/style.css")
		title Document
	body
		.row
			h1 Jade