@font-face
	font-family 'OpenSansReg'
	src url(fonts/OpenSans-Regular.ttf),
		url(fonts/OpenSans-Regular.eot),
		url(fonts/OpenSans-Regular.woff)
	font-style normal

@font-face
	font-family 'OpenSansBold'
	src url(fonts/OpenSans-Bold.ttf),
		url(fonts/OpenSans-Bold.eot),
		url(fonts/OpenSans-Bold.woff)
	font-style normal
	
@font-face
	font-family 'MProReg'
	src url(fonts/MyriadPro-Regular.ttf),
		url(fonts/MyriadPro-Regular.otf),
		url(fonts/MyriadPro-Regular.woff)
	font-style normal

@font-face
	font-family 'MProBoldIt'
	src url(fonts/MyriadPro-BoldIt.ttf),
		url(fonts/MyriadPro-BoldIt.eot),
		url(fonts/MyriadPro-BoldIt.woff)
	font-style normal