header
	line-height 38px
	margin-bottom 70px
	
	.row
		padding 0 20px

.logo
	font-family 'MProBoldIt'

	.head-logo
		font-size 30px
				
.head-menu
	font-size 0
	
	li
		display inline-block
		vertical-align top
		font-size 18px
		margin-right 25px
		
	.list-active	
		a
			display block
			position relative
			
			&:before
				content ''
				position absolute
				bottom 0
				left -2px
				right -4px
				height 3px
				background #0d98e2
		
		
	li:last-child
		margin-right 0