resetMarg()
	for numb in 1..5
		h{numb}
			margin 0
			padding 0

*
	padding 0
	margin 0

resetMarg()

html
	height 100%

body
	height 100%
	background url('../img/main-bg.jpg') center
	background-size cover
	color white
	background-attachment fixed
	padding 35px 0 20px

